<div class="container-fluid header-bg">
    <div class="container">
        <div class="row">
            <span class="col-12 col-md-3 col-lg-3 d-flex justify-content-center justify-md-content-start justify-lg-content-start align-items-center text-white titulo">ALEXANDRE ESTEVES</span>
            <span class="col-12 col-md-2 col-lg-2 d-flex justify-content-center align-items-center text-white links">Sobre</span>
            <span class="col-12 col-md-2 col-lg-2 d-flex justify-content-center align-items-center text-white links">Portfolio</span>
            <span class="col-12 col-md-2 col-lg-2 d-flex justify-content-center align-items-center text-white links">Contato</span>
            <span class="col-12 col-md-3 col-lg-3 d-flex gap-md-1 gap-lg-3 justify-content-center align-items-center">
                <span class="linkedin-ico"></span>
                <span class="whatsApp-ico"></span>
                <span class="cv-ico"></span>
            </span>
        </div>
    </div>
</div>