<section class="container-fluid bg">
    
    <section class="links-main container">
        
        <div class="row">

            <ul class="d-md-flex d-lg-flex d-xl-flex d-xxl-flex linha-principal">
    
                <li class="col-12 col-md-4 col-lg-4 col-xl-4 col-xxl-4"><p>Sobre</p></li>
                
                <li class="col-12 col-md-4 col-lg-4 col-xl-4 col-xxl-4"><p>Serviços</p>
                    
                    <ul class="">

                        <li class="w-100"><p>website</p></li>
                        <li class="w-100"><p>Front-End</p></li>
                        <li class="w-100"><p>Back-End</p></li>
                        <li class="w-100"><p>Consultoria</p></li>
                        <li class="w-100"><p>Data Science</p></li>

                    </ul>

                </li>
                
                <li class="col-12 col-md-4 col-lg-4 col-xl-4 col-xxl-4"><p>Tecnologias</p>
                    <ul>
                        <li class="w-100"><p>Angular</p></li>
                        <li class="w-100"><p>React</p></li>
                        <li class="w-100"><p>Cloud</p></li>
                        <li class="w-100"><p>C#</p></li>
                        <li class="w-100"><p>Vb.Net</p></li>
                        <li class="w-100"><p>ASP Clássico</p></li>
                    </ul>
                </li>
            </ul>
        </div>


        <div class="copyright row">
            <span class="col-12">Copyright (c) 2025 - Alexandre Esteves - Todos os direitos reservados</span>
        </div>

    </section>
</section>
