<!--
<section class="container-fluid">
    <section class="bg">
        <div class="container meu-container">
            <section class="">
                <div class="row">
                    <div class="col-12 col-md-12 col-lg-12">
                        <div class="row">

                            <div class="col-12 
                                        col-md-5 
                                        col-lg-6 
                                        py-0 
                                        mt-0 
                                        mt-md-5 
                                        mt-lg-5 
                                        mt-xl-5 
                                        text-center text-md-start text-lg-start text-xl-start">

                                <div class="linha-1 py-1 
                                                    py-md-1 
                                                    py-lg-1 
                                                    py-xl-1">

                                    <div class="ln-1-1 py-2 
                                                       py-md-3 
                                                       py-lg-3 
                                                       py-xl-3">Front-End</div>
                                    
                                    <div class="ln-1-2 ps-0 ms-0 
                                                       ps-md-5 ms-md-4 
                                                       ps-lg-5 ms-lg-4 
                                                       ps-xl-5 ms-xl-4">Angular | React</div>
                                </div>
                                
                                <div class="linha-2 py-2 
                                                    py-md-4 
                                                    py-lg-4 
                                                    py-xl-4">

                                    <div class="ln-2-1">Back-End</div>

                                    <div class="ln-2-2 py-1 ps-0 ms-0  
                                                       py-md-3 ps-md-5 ms-md4  
                                                       py-lg-3 ps-lg-5 ms-lg-4  
                                                       py-xl-3 ps-xl-5 ms-xl-4">C# | VB.net | Node.js</div>
                                </div>
                                
                                <div class="linha-3 py-2 mt-0  
                                                    py-md-0 mt-md-0  
                                                    py-lg-0 mt-lg-0  
                                                    py-xl-0 mt-xl-0">

                                    <div class="ln-3-1 pt-2   
                                                       pt-md-3   
                                                       pt-lg-3   
                                                       pt-xl-3">Análise | Requisitos | Web</div>
                                </div>
                                
                                <div class="linha-4 py-2 mt-0   
                                                    py-md-2 mt-md-2   
                                                    py-lg-2 mt-lg-2   
                                                    py-xl-2 mt-xl-2">

                                    <div class="ln-4-1 py-1 
                                                       py-md-0 
                                                       py-lg-0 
                                                       py-xl-0">Vamos Conversar?</div>

                                    <div class="ln-4-2 py-1 
                                                       py-md-0 
                                                       py-lg-0 
                                                       py-xl-0
                                                       ps-1 ms-0   
                                                       ps-md-5 ms-md-4   
                                                       ps-lg-5 ms-lg-4   
                                                       ps-xl-5 ms-xl-4">+55 (18) 9 8183.5385</div>

                                    <div class="ln-4-3 ps-1 
                                                       ms-0 
                                                       py-1 
                                                       py-md-0 
                                                       py-lg-0 
                                                       py-xl-0   
                                                       ps-md-5 ms-md-4   
                                                       ps-lg-5 ms-lg-4   
                                                       ps-xl-5 ms-xl-4">a13xandr3ea&#64;gmail.com</div>
                                </div>
                                
                                <div class="linha-5 py-1   
                                                    py-md-3   
                                                    py-lg-3   
                                                    py-xl-3">

                                    <span class="ln-5-1">FullTime | Part-Time</span>

                                    <span class="ln-5-2 ps-1   
                                                        ps-md-3   
                                                        ps-lg-3   
                                                        ps-xl-3">Presencial | Híbrido | Remoto</span>
                                </div>

                            </div>

                            <div class="col-12 col-md-7 col-lg-6">
                                <div>&nbsp;</div>
                            </div>

                        </div>
                    </div>
                </div>
            </section>
        </div>
    </section>
</section>
-->

<section class="container-fluid bg">
    <div class="container meu-container py-5">
        <div class="row align-items-center">
            
            <!-- Texto -->
            <div class="col-12 col-md-5 text-center text-md-start">
                <div class="py-2">
                    <h5 class="fw-bold">Front-End</h5>
                    <p class="ms-md-4">Angular | React</p>
                </div>
                <div class="py-2">
                    <h5 class="fw-bold">Back-End</h5>
                    <p class="ms-md-4">C# | VB.net | Node.js</p>
                </div>
                <div class="py-2">
                    <h5 class="fw-bold">Análise | Requisitos | Web</h5>
                </div>
                <div class="py-2">
                    <h5 class="fw-bold">Vamos Conversar?</h5>
                    <p class="ms-md-4">+55 (18) 9 8183.5385</p>
                    <p class="ms-md-4">a13xandr3ea&#64;gmail.com</p>
                </div>
                <div class="py-2">
                    <span class="fw-bold">FullTime | Part-Time</span>
                    <span class="ms-3">Presencial | Híbrido | Remoto</span>
                </div>
            </div>
            
            <!-- Espaço para outra seção -->
            <div class="col-12 col-md-7">
                <div>&nbsp;</div>
            </div>
            
        </div>
    </div>
</section>
