<section class="container-fluid bg">
    <div class="meu-container container py-3">
        <div class="row p-4">
            <div class="box-main p-5">
                <!-- Usando d-flex apenas em telas maiores -->
                <div class="d-flex flex-wrap justify-content-start xgap-3 px-0">
                    <!-- Coluna 1 -->
                    <div class="col-12 col-md-4 px-3 py-2">
                        <div class="box px-3 py-2">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</div>
                    </div>

                    <!-- Coluna 2 -->
                    <div class="col-12 col-md-4 px-3 py-2">
                        <div class="box px-3 py-2">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</div>
                    </div>

                    <!-- Coluna 3 -->
                    <div class="col-12 col-md-4 px-3 py-2">
                        <div class="box px-3 py-2">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
