@import "./mixin.scss";

@font-face {
  font-family: "poppins-medium";
  src: url(./assets//fonts/Poppins/Poppins-Medium.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}

:host {
  font-family: "poppins-medium";
}

@include smartphone { 
  .legendas, labels, .tags { font-size: 0.75rem; }
  .corpo-texto { font-size: 1rem; }
  h3 { font-size: 1.25rem; }
  h4 { font-size: 1.5rem; }
  h2 { font-size: .75rem }
  h1 { font-size: 2.5rem; }
}

@include smartphone-md {
  h2 { font-size: .75rem }
  //font-size: 1rem;
}
@include tablet-sm {
  h2 { font-size: .75rem }
  //font-size: 1rem;
}
@include tablet-lg {
  h2 { font-size: .75rem }
  //font-size: 1rem;
}
@include desktop {
  h2 { font-size: .75rem }
  //font-size: 1rem;
}
@include desktop-lg {
  h2 { font-size: .75rem }
  //font-size: 1rem;
}
//1920
@include tv {
  h2 { font-size: 1.3rem }
  //font-size: 1rem;
}
